body{
    background-color: rgb(192, 212, 135);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

/*--------------------Encabezado--------------------------------*/
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.encabezado-img {
    width: 10%;
}

.encabezado nav ul li {
    list-style: none;   
    display: inline-block;
    background-color: blanchedalmond;
    padding: 0.5rem;
    border-radius: 1.5rem;
    margin: 0 10px 0 10px;

}

.encabezado nav ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/*-------------------- Fin Encabezado--------------------------------*/


/*--------------------Grid Canchas--------------------------------*/

.main-canchas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    grid-template-areas: "cancha1 cancha2"
                         "cancha3 cancha4";
    justify-content: center;
}

.main-canchas1{
    grid-area: cancha1;
    margin: 5rem 5rem 5rem 5rem;
}

.main-canchas2{
    grid-area: cancha2;
    margin: 5rem 5rem 5rem 5rem;
}

.main-canchas3{
    grid-area: cancha3;
    margin: 5rem 5rem 5rem 5rem;
}
.main-canchas4{
    grid-area: cancha4;
    margin: 5rem 5rem 5rem 5rem;
}
/*--------------------Fin Grid Canchas--------------------------------*/

/*--------------------Grid Staff--------------------------------*/
.main-staff{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "staff1 staff2"
                         "staff3 staff4"
                         "staff5 .";
}

.main-staff1{
    grid-area: staff1;
}
.main-staff2{
    grid-area: staff2;
}
.main-staff3{
    grid-area: staff3;
}
.main-staff4{
    grid-area: staff4;
}
.main-staff5{
    grid-area: staff5;
}


/*---------------------------------------------- FOOTER-------------------------------------------------*/
footer{
    display: flex;
    justify-content: space-around;
    margin: 3rem;
}

footer p{
    margin-top: 1rem;
}

footer img{
    margin: 1rem;
    width: 10%;
}
/*-----------------------------------------------FIN FOOTER-------------------------------------------------*/


/*---------------Media Queries---------------------------------*/


@media screen and (max-width:600px){

    body {
        background-color: rgb(138, 228, 165);
    }
    
    .encabezado{
        display: flex;
        flex-direction: column;
    
    }

    .main-staff{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "staff1"
                             "staff2"
                             "staff3"
                             "staff4"
                             "staff5";
    }

    .main-canchas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       
        grid-template-areas: "cancha1 "
                             "cancha2"
                             "cancha3 "
                             "cancha4";
        justify-content: center;
        margin: 5rem 5rem 5rem 5rem;
    }
    


    
    
    
}