body {
  background-color: #eff1e8;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-width: 100vh; }

.menulg {
  display: block; }

.menusm {
  display: none; }

.main-gral {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-areas: ". cuerpo .";
  margin-top: 5rem; }
  .main-gral .cuerpo {
    grid-area: cuerpo; }

.margenes {
  margin: 2rem 2rem 2rem 2rem; }

.main-staff {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "staff1 staff2" "staff3 staff4" "staff5 ."; }
  .main-staff .staff1 {
    grid-area: staff1;
    margin: 1rem 0.5rem 1rem 0.5rem; }
  .main-staff .staff2 {
    grid-area: staff2;
    margin: 1rem 0.5rem 1rem 0.5rem; }
  .main-staff .staff3 {
    grid-area: staff3;
    margin: 1rem 0.5rem 1rem 0.5rem; }
  .main-staff .staff4 {
    grid-area: staff4;
    margin: 1rem 0.5rem 1rem 0.5rem; }
  .main-staff .staff5 {
    grid-area: staff5;
    margin: 1rem 0.5rem 1rem 0.5rem; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.5rem 1rem 0.5rem; }
  .footer_redes ul a {
    flex-grow: 1;
    margin: 1rem 0.5rem 1rem 0.5rem;
    list-style: none;
    text-decoration: none; }

.boton, .botonrojo, .botonaqua, .botonverde, .botonamarillo, .botonazul {
  background-color: blueviolet;
  color: black;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid black; }

.botonrojo {
  background-color: red;
  color: beige; }

.botonaqua {
  background-color: aqua;
  color: beige; }

.botonverde {
  background-color: green;
  color: beige; }

.botonamarillo {
  background-color: yellow;
  color: beige; }

.botonazul {
  background-color: blue;
  color: beige; }

.letrachica {
  font-size: 1rem;
  font-weight: 200; }

.letramed {
  font-size: 2rem;
  font-weight: 400; }

.letragrande {
  font-size: 3rem;
  font-weight: 600; }

.colorprofe1 {
  color: red; }

.colorprofe2 {
  color: blue; }

.colorprofe3 {
  color: green; }

.colorprofe4 {
  color: pink; }

.colorprofe5 {
  color: yellow; }

@media screen and (max-width: 576px) {
  body {
    background-color: #8ae4a5; }
  .menulg {
    display: none; }
  .menusm {
    display: block; }
  .main-staff {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "staff1" "staff2" "staff3" "staff4" "staff5"; } }
