body{
    background-color: rgb(239, 241, 232);
    font-family: $fuentetit;
    text-align: center;    
}

.main-gral {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-areas: ". cuerpo .";
    margin-top: 2rem;

    .cuerpo{
        grid-area: cuerpo;
    }
}

.margenes {
    margin: $margingral;
}

.main-staff{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "staff1 staff2"
                         "staff3 staff4"
                         "staff5 .";
                         
                         @for $i from 1 through 5 {
                            .staff#{$i} {
                                grid-area: staff#{$i};
                                margin: $margingral;
                            }
                         }
                        
}





