.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $margingral;

    
    &-redes{ 
        list-style: none;
        text-decoration: none; 
    }

    &-iconos {
        font-size: 1.5rem;
        color: black;
    }

   

}

