.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $margingral;

    
    &_redes ul a{  
        flex-grow: 1;     
        margin: $margingral;        
        list-style: none;
        text-decoration: none; 
    }

   

}

