$colorstaff: (
    "profe1": red,
    "profe2": blue,
    "profe3" : green,
    "profe4": pink,
    "profe5": yellow,


);

.colorprofe1{
    color: map-get($map: $colorstaff, $key: profe1);
}

.colorprofe2{
    color: map-get($map: $colorstaff, $key: profe2);
}

.colorprofe3{
    color: map-get($map: $colorstaff, $key: profe3);
}

.colorprofe4{
    color: map-get($map: $colorstaff, $key: profe4);
}

.colorprofe5{
    color: map-get($map: $colorstaff, $key: profe5);
}