@media screen and (max-width:576px){

    body {
        background-color: rgb(138, 228, 165);
    }
    
    .menulg {
        display: none;
    }

    .menusm {
        display: block;
    }

    .main-staff{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "staff1"
                             "staff2"
                             "staff3"
                             "staff4"
                             "staff5";
    }
    



    
    
    
}