@mixin Fuentes ($size, $weight) {
    font-size: $size;
    font-weight: $weight;    
}

.letrafooter {
    @include Fuentes(1rem, 600)
}

.letramed {
    @include Fuentes(2rem, 700)
}

.letragrande {
    @include Fuentes(3rem, 800)
}

.letform {
    font-family: Arial, Helvetica, sans-serif;
    @include Fuentes(1rem, 500)
    
}